{{! reset_password.hbs }}
{{>userheader}}
<style>
  .animsition {
    opacity: 1;
  }

  .reset-form-container {
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
    min-height: 300px; /* Set your desired minimum height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h1 {
    text-align: center;
  }

  /* Center text and input elements */
  .reset-form-container label,
  .reset-form-container input {
    display: block;
    margin: 0 auto;
    width: 60%; /* Adjust the width as needed */
  }

  /* Add more styling as needed */
</style>
<h1 class="mt-5">Reset Password</h1>
<p style="text-align: center; color: red;" class="mt-4">{{messageErr}}</p>
<p style="text-align: center; color: green;" class="mt-4">{{message}}</p>
<div class="reset-form-container">
  <form method="post" action="/reset-password/{{token}}">
    <label for="password">New Password:</label>
    <input type="password" class="mt-2" id="password" name="newPassword" style="border:1px solid gray;width:200px" placeholder="Enter New Password" required />
    <button type="submit" class="btn btn-primary mt-4">Reset Password</button>
  </form>
</div>
{{>userfooter}}
